
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&family=Tillana:wght@400;800&family=Ubuntu&display=swap');

body{
    width: 400px;
    height: 300px;
    
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: 'Teko';
    
}
.caja-logo{           
    width: auto;
    height: 50px;
    padding: 10px;
    background-color: black; 
    align-self: flex-end;   
}
.contenedor{
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 2px solid black;
}


.bandaSuperior{
    background-color: black;
    width: 100%;
    min-height: 40px;
}
.contenido h3{
    font-family: 'Teko';
    font-size: 1.8em;
    padding: 10px;
    margin-top: 30px;
}
.contenido p{
    font-family: 'Ubuntu', monospace;
    font-size: 1.1em;
    word-spacing: 0.4em;
    margin: auto;
    padding: 10px;
}

.boton{
    background-color: black;
    color: white;
    font-family: 'Tillana';
    border-radius: 0;
    border: 0;
    margin-top: 10px;
}